h1 {
    font-family: fantasy;
    font-size: 40px;
    color: white;
    background-color: black;
    text-align: center;
}

h2 {
    font-family: cursive;
    font-size: 30px;
    color: greenyellow;
    background-color: black;
    text-align: center;
}